[Unit]
Description=Hyper-V FCOPY daemon
ConditionVirtualization=microsoft
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_fcopy.device
After=sys-devices-virtual-misc-vmbus\x21hv_fcopy.device

[Service]
ExecStart=/usr/sbin/hypervfcopyd -n

[Install]
WantedBy=multi-user.target
