[Unit]
Description=Hyper-V VSS daemon
ConditionVirtualization=microsoft
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_vss.device
After=sys-devices-virtual-misc-vmbus\x21hv_vss.device

[Service]
ExecStart=/usr/sbin/hypervvssd -n

[Install]
WantedBy=multi-user.target
