[Unit]
Description=Hyper-V KVP daemon
ConditionVirtualization=microsoft
ConditionPathExists=/dev/vmbus/hv_kvp

[Service]
Type=simple
ExecStart=/usr/sbin/hypervkvpd -n

[Install]
WantedBy=multi-user.target
